
 @using FlixNest.IAppServices;
@inject IMovieGenreService _movieService;

@inject IYearService _yearService;
@inject ICountryService _countryService;

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Data Table</h1>
        <p>Table to display analytical data effectively</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active"><a asp-action="Index" >Data Table</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="table1">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Phim</th>
                            <th>Năm ra phim</th>
                            <th>Thời lượng</th>
                            <th>Quốc gia</th>
                            <th>Hình ảnh</th>
                            <th>Trạng thái</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var number = 1;
                        }
                        @foreach (var item in Model.Movie)
                        {
                            <tr>
                                <td>@number</td>
                                <td><a asp-action="Detail" asp-controller="Movie" asp-route-id="@item.MovieId">@item.MovieName</a></td>
                                <td>@(_yearService.findbyId(item.YearId)?.YearName)</td>
                                <td>@item.MovieTime</td>
                                <td>@(_countryService.findbyId(item.CountryId)?.CountryName)</td>

                                <td><img src="~/images/@item.Image" style="width : 10%"></td>
                                <Td>@item.Status</Td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            Chọn<i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item" asp-controller="Movie" asp-action="Detail" asp-route-id="@item.MovieId"><i class="dw dw-eye"></i> Chi tiết</a>
                                            <a class="dropdown-item" asp-controller="Movie" asp-action="LogMovie" asp-route-id="@item.MovieId"><i class="dw dw-eye"></i>Nhật ký hoạt động</a>
                                            @if (User.IsInRole("Administrator"))
                                            {
                                                
                                                @if(item.IsApproved){
                                                    <a class="dropdown-item" asp-controller="Movie" asp-action="ApproveMovie" asp-route-id="@item.MovieId"
                                                       onclick="return confirm('Bạn có muốn phê duyệt bộ phim này')"><i class="dw dw-delete-3"></i> Chấp nhận</a>
                                                    <a class="dropdown-item" asp-controller="Movie" asp-action="RejectMovie" asp-route-id="@item.MovieId"
                                                       onclick="return confirm('Bạn có muốn từ chối phế duyệt bộ phim này')"><i class="dw dw-delete-3"></i> Từ chối</a>
                                                   
                                                }
                                                @if (!item.IsApproved)
                                                {
                                                    <a class="dropdown-item" asp-controller="Movie" asp-action="UpdateMovie" asp-route-id="@item.MovieId"><i class="dw dw-edit2"></i> Chỉnh sửa</a>
                                                    <a class="dropdown-item" asp-controller="Movie" asp-action="DeleteMoivie" asp-route-id="@item.MovieId"
                                                       onclick="return confirm('Bạn có muốn xóa bộ phim này')"><i class="dw dw-delete-3"></i> Xóa tạm thời</a>
                                                }
                                            }
                                           
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            number++;
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Lỗi:</strong> @TempData["ErrorMessage"]
                    </div>
                }
                <table class="table table-hover table-bordered" id="table2">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Thể loại</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var number1 = 1;
                        }
                        @foreach (var item in Model.Genre)
                        {
                            <tr>
                                <td>@number1</td>
                                <td>@item.GenreName</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            Chọn<i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item" asp-controller="Genre" asp-action="EditGenre" asp-route-id="@item.GenreId"><i class="dw dw-edit2"></i> Chỉnh sửa</a>
                                            <a class="dropdown-item" asp-controller="Genre" asp-action="DeleteGenre" asp-route-id="@item.GenreId"
                                            onclick="return confirm('Bạn có muốn xóa thể loại này')"><i class="dw dw-delete-3"></i> Xóa</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            number1++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="table3">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ và tên diễn viên</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var number2 = 1;
                        }
                        @foreach (var item in Model.Actor)
                        {
                            <tr>
                                <td>@number2</td>
                                <td>@item.Fname @item.Lname</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            Chọn<i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item" asp-controller="Actor" asp-action="EditActor" asp-route-id="@item.ActId"><i class="dw dw-edit2"></i> Chỉnh sửa</a>
                                            <a class="dropdown-item" asp-controller="Actor" asp-action="DeleteActor" asp-route-id="@item.ActId"
                                            onclick="return confirm('Bạn có muốn xóa diễn viên này')"><i class="dw dw-delete-3"></i> Xóa</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            number2++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="table4">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ và tên Đạo diễn</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var number3 = 1;
                        }
                        @foreach (var item in Model.Director)
                        {
                            <tr>
                                <td>@number3</td>
                                <td>@item.Fname @item.LName</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            Chọn<i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item" asp-controller="Director" asp-action="EditDir" asp-route-id="@item.DirId"><i class="dw dw-edit2"></i> Chỉnh sửa</a>
                                            <a class="dropdown-item" asp-controller="Director" asp-action="DeleteDirector" asp-route-id="@item.DirId"
                                            onclick="return confirm('Bạn có muốn xóa đạo diễn này')"><i class="dw dw-delete-3"></i> Xóa</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            number3++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // Check for TempData message
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage) {
                alert(errorMessage);
            }
        });
    </script>
}