
    @using FlixNest.IAppServices;
@inject ICountryService _countryService;
@inject IYearService _yearService;
<div class="anime__details__content">
    <div class="row">
        <div class="col-lg-3">
            <div class="anime__details__pic set-bg">
                <img src="~/images/@ViewBag.Movie.Image" style="width 223px; height: 325px; object-fit: cover">

            </div>
        </div>
        <div class="col-lg-9">
            <div class="anime__details__text">
                <div class="anime__details__title">
                    <h3>@ViewBag.Movie.MovieName</h3>

                </div>
  
                <p>
                    @ViewBag.Movie.MovieTitle
                </p>
                <div class="anime__details__widget">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li><span>Type:</span> TV Series</li>
                                <li><span>Quốc gia:</span> @(_countryService.findbyId(ViewBag.Movie.CountryId)?.CountryName)</li>
                                <li><span>Năm phát hành: </span>@(_yearService.findbyId(ViewBag.Movie.YearId)?.YearName)</li>
                                <li><span>Status:</span> Airing</li>
                                <li>
                                    <span>Thể loại:</span>
                                    @foreach (var genre in ViewBag.Genre)
                                    {
                                        <span>@genre.GenreName, </span>
                                    }
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li><span>Scores:</span> 7.31 / 1,515</li>
                                <li><span>Rating:</span> 8.5 / 161 times</li>
                                <li><span>Duration:</span> @ViewBag.Movie.MovieTime</li>
                                <li><span>Quality:</span> HD</li>
                                <li><span>Views:</span> 131,541</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile" style="margin-top:50px">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="table8">
                    <thead>
                        <tr>
                            <th>Nội dung</th>
                            <th>Hành động</th>
                            <th>Thời gian</th>
                            <th>Người thực hiện</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var LogMovie in ViewBag.LogMovie)
                        {
                            <tr>
                                <td>@LogMovie.Description</td>
                                <td>@LogMovie.Action</td>
                                <td>@LogMovie.DateTime</td>
                                <td>@(ViewBag.UserNames.ContainsKey(LogMovie.UserId) ? ViewBag.UserNames[LogMovie.UserId] : "Không tồn tại")</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
