@model FlixNest.Models.Movie
@using FlixNest.Models;
@using FlixNest.Areas.Identity.Data;
@using FlixNest.Repository.YearRepository;
@using FlixNest.Repository.CountryRepository;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@using FlixNest.Repository.FollowRepository;
@inject IFollowRepository _followRepository;
@inject UserManager<AccountUser> UserManager;
@inject SignInManager<AccountUser> signmanager
@inject ICountryRepository _countryRepository;
@inject IYearRepository _yearRepository;
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Home</a>
                    <span>Phim ></span>
                    <span>@ViewBag.Movie.MovieName</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg">
                        @if (ViewBag.Movie != null)
                        {
                            <img src="~/images/@ViewBag.Movie.Image" class="anh" />
                            <!-- Other code that uses properties of ViewBag.Movie -->
                        }
                        else
                        {
                            <p>Movie not found.</p>
                        }
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>@ViewBag.Movie.MovieName</h3>
                        </div>
                      
                        <p>
                            @ViewBag.Movie.MovieTitle
                        </p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Quốc gia: </span> @(_countryRepository.findbyId(ViewBag.Movie.CountryId)?.CountryName)</li>
                                        <li><span>Năm phát hành:</span> @(_yearRepository.findbyId(ViewBag.Movie.YearId)?.YearName)</li>
                                        <li>
                                            <span>Thể loại: </span>
                                            @foreach (var genre in ViewBag.Genre)
                                            {
                                                <span><a asp-action="findMovieByGenre" asp-controller="Home" asp-route-genreId="@genre.GenreId">@genre.GenreName, </a></span>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>

                                        <li><span>Thời lượng:</span> @ViewBag.Movie.MovieTime</li>
                                        <li><span>Số lượng theo dõi:</span> @ViewBag.Movie.FollowerCount</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn" style="display: flex">
                            @if (User.Identity.IsAuthenticated)
                            {
                                var isFollowing = _followRepository.IsFollowingMovie(UserManager.GetUserAsync(User).Result.Id, ViewBag.Movie.MovieId);
                                if (isFollowing)
                                {
                                    <!-- Display Unfollow form -->
                                    <form asp-controller="Home" asp-action="UnFollow" method="post">
                                        <input type="hidden" name="movieId" value="@ViewBag.Movie.MovieId" />
                                        <button type="submit" class="btn btn-danger" style="width: 150px; height: 46px">Bỏ theo dõi</button>
                                    </form>
                                }
                                else
                                {
                                    <!-- Display Follow form -->
                                    <form asp-controller="Home" asp-action="Follow" method="post">
                                        <input type="hidden" class="form-input-checkout" 
                                        id="UserId" name="UserId" value="@UserManager.GetUserAsync(User).Result.Id" required>
                                        <input type="hidden" name="movieId" value="@ViewBag.Movie.MovieId" />
                                        <button type="submit" class="btn btn-primary" style="width: 150px; height: 46px">Theo dõi</button>
                                    </form>
                                }
                            }
                           
                            <a class="watch-btn" asp-action="watching" asp-controller="Home" asp-route-id="@ViewBag.FirstEp" style="margin-left: 50px">
                                <span>Watch Now</span> <i class="fa fa-angle-right"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-8 col-md-8">
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>Your Comment</h5>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="Commnent" asp-controller="Home" method="post">
                            <input type="hidden" name="movieId" value="@ViewBag.Movie.MovieId" />
                            <input type="hidden" id="UserId" name="UserId" value="@UserManager.GetUserAsync(User).Result.Id" required />
                            <textarea placeholder="Your Comment" name="Title"></textarea>
                            <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                        </form>
                    }


                </div>
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5 style="margin-top:20px">Reviews</h5>
                    </div>
                    @foreach (var comment in ViewBag.Comment)
                    {
                    <div class="anime__review__item">
                      
                        
                        <div class="anime__review__item__pic">
                            <img src="~/main/img/anime/review-1.jpg" alt="">
                        </div>
                        <div class="anime__review__item__text">
                        
                            
                                <h6>@(ViewBag.UserNames.ContainsKey(comment.UserId) ? ViewBag.UserNames[comment.UserId] : "không tồn tại")</h6>
                                <p>@comment.Title</p>
                            
                          
                        </div>
                        
                    </div>
                    }
                   
                   
                   
                </div>
              
            </div>
           
        </div>
    </div>
</section>
