@using FlixNest.Repository.MovieRepository;


@inject IMovieRepository _movieRepository;

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Data Table</h1>
        <p>Table to display analytical data effectively</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active"><a asp-action="Index">Data Table</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="table5">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Nội dung</th>
                            <th>Tên Phim</th>
                            <th>Thời gian</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var number  =1;
                        }
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@number</td>
                                <td>@item.Description</td>
                                <td>@(_movieRepository.findbyId(item.MovieId)?.MovieName)</td>
                                <td>@item.DateTime</td>
                                <td>@item.Action</td>
                            </tr>
                            number++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


